@model MvcMovie.Models.MovieGenreViewModel


@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-color: #EEFFFF;
    }
</style>



<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>
<body>
   <div class="modal fade" id="#botton_for_openmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-2">
                    ユーザー名：
                </div>
                <dv class="col-sm-10">
                    @Html.DisplayFor(model => model.Movies)
                </dv>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>




<div class="card">
    <div class="card-body">
        <h1>映画一覧</h1>

        <p>
            <a asp-action="Create" class="btn btn-primary width-100 mr-2 mb-3"><i class="fas fa-angle-right"></i> 新規作成</a>
        </p>


        <form asp-controller="Movies" asp-action="Index" method="get" class="form-inline">
            <p>
                ジャンル名：<select asp-for="MovieGenre" asp-items="Model.Genres" class="form-control">

                    <option value="">All</option>
                </select>
                タイトル名：<input type="text" asp-for="SearchString" class="form-control" />
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> 検索</button>
            </p>

        </form>

        <table id="foo-table" class="table" style="border-collapse: separate !important">
            <thead>
                <tr class="table-secondary">
                    <th>
                        <i class="fab fa-youtube"></i> @Html.DisplayNameFor(model => model.Movies[0].Title)
                    </th>
                    <th>
                        <i class="far fa-calendar-alt"></i> @Html.DisplayNameFor(model => model.Movies[0].ReleaseDate)
                    </th>
                    <th>
                        <i class="fas fa-book"></i> @Html.DisplayNameFor(model => model.Movies[0].Genre)
                    </th>
                    <th>
                        <i class="fas fa-donate"></i> @Html.DisplayNameFor(model => model.Movies[0].Price)
                    </th>
                    <th><i class="fas fa-user-edit"></i> Controller</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Movies)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-detail mb-8"><i class="fas fa-edit fa-fw"></i> 詳細</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-edit"><i class="fas fa-chalkboard-teacher mr-1"></i> 編集</a>
                            |<button type="button" class="btn btn-primary botton_for_openmodal" data-id="@item.Id" data-url="@Url.Action("ShowModal")" >
                                Click Here
                            </button>

                            <!--モダール表示用のスペースを追加-->
                            <div id="ModalHere">
                            </div>


                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-remove"><i class="fas fa-trash-alt fa-fw"></i> 削除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>



<script>
    $(document).on("click", ".botton_for_openmodal", function () {

        console.log("aiueo");
        var url = $(this).data('url');
        var id = $(this).attr('data-id');
        $.ajax({
            url: url + '/' + id,
            type: 'get',
            cache: false,
        })
            .done(function (response) {
                $("#ModalHere").html(response);
                $("#ModalHere").find('.modal').modal('show');
            })
            .fail(function (xhr) {
                console.log(xhr);
            })
            .always(function (xhr, msg) {
                console.log(xhr, msg);
            });
    })
   
    $('#botton_for_openmodal').click(function () {
            console.log ("aiueo")
            var url = $(this).data('url');
            var id = $(this).attr('data-id');
            $.ajax({
                url: url + '/' + id,
                type: 'get',
                cache: false,
            })
                .done(function (response) {
                    $("#ModalHere").html(response);
                    $("#ModalHere").find('.modal').modal('show');
                })
                .fail(function (xhr) {
                    console.log(xhr);
                })
                .always(function (xhr, msg) {
                    console.log(xhr, msg);
                });
        });


</script>
